# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Backup
backup/

# AWS
.aws/

# kubeconfig
kubeconfig

# IDE
.vscode/
.idea/

# macOS
.DS_Store
